<mat-spinner *ngIf="!mapReady"></mat-spinner>
<ngui-map *ngIf="trip" [center]="center" (click)="clickOnMap($event)" (mapReady$)="onMapReady($event)">
  <marker *ngIf="marker" [position]="{lat: marker.lat, lng: marker.lng}" [draggable]="true"
          (dragend)="markerDragEnd($event)"></marker>
  <marker *ngFor="let destination of trip.destinations; let i = index"
          [position]="[destination.lat, destination.lng]"
          (click)="clickDestinationMarker($event.target, i)"
          [draggable]="true"
          [label]="'&nbsp;' + ((i + 1).toString()) + '&nbsp;'"
          (dragend)="destinationMarkerDragEnd($event, i)"
          (initialized$)="destinationMarkerInit($event, i)"
          [icon]="{
            url: '/assets/images/map/destination-marker.png',
            anchor: [14, 43],
            size: [27, 43],
            scaledSize: [27, 43],
            labelOrigin: [14, 15]
          }"></marker>
  <div *ngIf="mapReady">
    <directions-renderer *ngFor="let destination of (trip.destinations | destinationsDirection: mapReady)"
                         [suppressMarkers]="true"
                         [draggable]="true"
                         [directions-request]="destination.directionsRequest">
    </directions-renderer>
  </div>
</ngui-map>
