.app-mat-spinner-container {
  height: calc(100vh - 64px);

  .mat-spinner {
    position: relative;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

ngui-map {
  height: calc(100vh - 64px);

  .destination-marker {
    cursor: pointer;
    background: url("./../../../assets/images/map/destination-marker.png") no-repeat;
    background-size: contain;
    position: relative;
    top: -19px;
    left: -1px;
    width: 27px;
    height: 43px;
    color: white;
    font-size: 16px;
    padding-top: 6px;
    text-align: center;
  }
}

@media (max-width: 599px) {
  .app-mat-spinner-container, ngui-map  {
    height: calc(100vh - 56px);
  }
}
