<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="sideNav.toggle()"
    *ngIf="!sideNav.opened">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <p *ngIf="trip && !(isHandset | async)!.matches">
    {{ trip.title }}
    <span class="mat-small">({{ trip.destinations.length }} stops)</span>
  </p>
  <mat-form-field class="search-form-field" *ngIf="mapReady">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchValue" places-auto-complete
           [types]="['geocode']" (place_changed)="autoCompleteResult($event)">
  </mat-form-field>
</mat-toolbar>
