<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="sideNav.toggle()"
    *ngIf="!sideNav.opened">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span *ngIf="trip && !(isHandset | async)!.matches">{{trip.title + ' (' + trip.destinations.length+' stops)'}}</span>
  <mat-form-field class="search-form-field" *ngIf="mapReady">
    <input matInput placeholder="Where is your next stop?" [(ngModel)]="searchValue" places-auto-complete
           [types]="['geocode']" (place_changed)="autoCompleteResult($event)">
  </mat-form-field>
</mat-toolbar>
