<mat-sidenav-container>
  <mat-sidenav
    #sideNav
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="sideNavOpened">
    <app-trip-side-nav [sideNav]="sideNav"></app-trip-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-trip-toolbar [sideNav]="sideNav"></app-trip-toolbar>
    <app-trip-map></app-trip-map>
    <app-trip-map-destination-panel></app-trip-map-destination-panel>
  </mat-sidenav-content>
</mat-sidenav-container>
